<!DOCTYPE html>
<html>
<head>
    <title>Friday Page</title>
</head>

<body>

<h1>Friday Page</h1>

<p>Date: <%= date %></p>
<p>Day: <%= day %></p>

<% if (isFriday) { %>

<h2> Wohooo! It's Friday!!! </h2>
<p>Time to celebrate!</p>

<% } else { %>

<p>Not Friday yet.</p>

<% } %>

</body>
</html>