<!DOCTYPE html>
<html>

<head>
    <title>Task</title>
</head>

<body>

<h1>Task Details</h1>

<p>ID: <%= task.id %></p>

<p>Title: <%= task.title %></p>

<p>Completed: <%= task.completed %></p>

<br>

<a href="/tasks">Back to tasks</a>

</body>
</html>